/* i want the font for the entirepage to be the sharetewch mono ones*/





body {
	background-color: black;
	color: #13a10e;
	font-family: 'Share Tech Mono', monospace;
}

.titleName {
	text-align: center;
}

.titleName h1 {
	font-size: 3em;
}

.titleName h2 {
	font-size: 2em;
	padding-left: 200px;
	padding-right: 200px;
}

.Projetos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#tituloProjetos {
	text-align: center;
}

.project {
	text-align: center;
}

#projeto1 {
	border: 1px solid #00FF00;
	margin: 10px;
}

#projeto2 {
	border: 1px solid #00FF00;
	margin: 10px;
}

#projeto3 {
	border: 1px solid #00FF00;
	margin: 10px;
}


/*About me CSS*/
#aboutMePage {
	text-align: center;
	padding: 10px;
	margin: 10px;
}
